@page
@model Salon_Infrumusetare.Pages.Recenzii.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recenzie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recenzie.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recenzie.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recenzie.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recenzie.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recenzie.Comentariu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recenzie.Comentariu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recenzie.Nota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recenzie.Nota)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Recenzie?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
